<div class="build-controls">
  <h3>Build Your Hero</h3>
  <app-build-control
    label="Stamina"
    (added)="onAddCharacteristic('stamina')"
    (removed)="onRemoveCharacteristic('stamina')">
  </app-build-control>
  <app-build-control
    label="Strength"
    (added)="onAddCharacteristic('strength')"
    (removed)="onRemoveCharacteristic('strength')">
  </app-build-control>
  <app-build-control
    label="Speed"
    (added)="onAddCharacteristic('speed')"
    (removed)="onRemoveCharacteristic('speed')">
  </app-build-control>
</div>
